body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
    font-family: IRANSans !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: IRANSans !important;
}

.right-dir {
    direction: rtl;
}

.right-txt {
    text-align: right;
}

.center-txt {
    text-align: center;
}

.font-applied {
    font-family: IRANSans !important;
}

.grow {
    flex-grow: 1;
}

.my-header {
    background-color: #1976d2 !important;
}

.bold {
    font-weight: bold;
}

.goldStar {
    color: gold;
}

.grayStar {
    color: gray;
}

.agency-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.my-container {
    margin: 20px 0px !important;
    width: 100% !important;
}

.agency-paper {
    text-align: center;
    margin: 0px 30px;
    padding: 10px;
}

.plan-paper {
    text-align: center;
    margin: 0px 30px;
    padding: 10px;
}


.edit-button {
    font-family: IRANSans !important;
    background-color: #1976d2 !important;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-user-info {
    text-align: center;
}

.free-plan {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding: 3px;
    border-radius: 5px;
}

.bronze-plan {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.silver-plan {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.gold-plan {
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.plan-col {
    margin: 0px 30px;
}

.buy-button {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    width: 100%;
}

.green-duration {
    color: white;
    background-color: #1b5e20;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.red-duration {
    color: white;
    background-color: #d50000;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.available-count {
    background-color: #2196f3;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.zero-count {
    background-color: darkred;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    font-weight: bold;
}

.accept-buy-button {
    background-color: #43a047 !important;
    color: white !important;
    font-weight: bold !important;
}

.input-labels {
    font-family: IRANSans !important;
    right: 20px !important;
    left: auto !important;
}

.main-form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.sub-form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.my-select-icon {
    left: 0 !important;
    right: auto !important;
}


.tour-form-paper {
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.tour-trips-paper {
    padding: 15px;
    text-align: center;
}

.add-fab {
    position: absolute !important;
    left: 30px !important;
    background-color: crimson !important;
}

.trip-icon {
    color: #2196f3;
}

.disable-status {
    background-color: red !important;
}

.enable-status {
    background-color: green !important;
}

.featured-tour {
    background-color: #ad1457 !important;
}

.normal-tour {
    background-color: #1976d2 !important;
}

.chip-icon {
    margin-right: unset !important;
    margin-left: unset !important;
}

.tour-info {
    padding: 30px;
    text-align: center;
}

.article-form-paper {
    padding: 30px;
}

.comments-paper {
    padding: 5px;
}

.plan-summary-paper {
    padding: 5px;
    text-align: center;
    line-height: 40px;
}

.report-summary-paper {
    padding: 5px;
    font-family: IRANSans !important;
}

.login-wrapper {
    background-image: url("/assets/login-bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-paper {
    width: 400px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    padding: 60px;
    padding-top: 20px !important;
}

.login-fields {
    margin-bottom: 30px !important;
}

.login-label {
    right: 0px !important;
    left: auto !important;
}

.my-link {
    color: #f50057;
    font-size: 12px;
}

.login-focused-label {
    color: #f50057 !important;
}

.login-logo {
    width: 250px;
    margin: auto;
}

.paper-header {
    direction: rtl;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 15px;
}

.paper-header-icon {
    margin-right: 8px !important;
    font-size: 30px !important;
}

.peper-header-label {
    font-weight: bold;
    font-size: 18px;
}

.payment-icon {
    margin-right: 8px !important;
    margin-left: -4px !important;
}

.payment-label {
    font-weight: bold;
    font-size: 12px;
}

.user-panel {
    display: flex;
}

.logout-menu {
    background-color: #d32f2f !important;
    color: white !important;
    border-radius: 5px !important;
    font-weight: bold !important;
}

.navbar-time-date {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
}